Mapa_conceptual.xlsx
point13.ipynb
Project_I_RojasCesarSantiago.rar
Project_I_RojasCesarSantiago.zip
proof.txt
prueba.csv
Sprint_project_fake.ipynb
Sprint_project_points.ipynb
Sprint_project.ipynb
unicode.txt
Untitled.ipynb
